.table {
  border-collapse: collapse;
  box-sizing: content-box;
}

.table tbody {
  display: flex;
  flex-direction: column;
}

.table__tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.table__td {
  min-width: 100px;
  padding-top: 6px;
  padding-bottom: 12px;
}
