.catalog {
  width: 100%;
}

.catalog__wrapper {
  width: 260px;
  padding-top: 9px;
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    width: 666px;
    padding-top: 6px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    width: 1150px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 37px;
    padding-right: 65px;
    margin-bottom: 97px;
  }
}
