.checkbox-block {
  display: flex;
  position: relative;
  margin-bottom: 33px;
}


.checkbox-block__input {
  opacity: 0;
}

.checkbox-block__text {
  .text-in-form();
  font-weight: 700;
  margin-left: 51px;
  margin-top: 10px;

  &::before {
    content: "";
    width: 36px;
    height: 34px;
    top: 0;
    left: 0;
    border: 2px solid #444444;
    position: absolute;
  }

  &::after {
    content: "";
    width: 11px;
    height: 19px;
    left: 13px;
    top: 6px;
    transform: rotate(45deg);
    border: 2px solid @gray;
    border-top: transparent;
    border-left: transparent;
    position: absolute;
    visibility: hidden;
  }
}

.checkbox-block:hover .checkbox-block__text::before {
  border: 2px solid @blue;
}

.checkbox-block:active .checkbox-block__text::before {
  opacity: 0.3;
}

.checkbox-block__input:focus + .checkbox-block__text::before {
  box-shadow: 0 0 2px 3px rgba(81, 203, 238, 1);
}

.checkbox-block__input:checked + .checkbox-block__text::after {
  visibility: visible;
}


@media (min-width: @tablet-width) {
  .checkbox-block {
    width: 260px;
    padding-left: 27px;
    margin-bottom: 42px;
  }

  .checkbox-block__text {
    margin-top: 15px;
    margin-left: 81px;
    font-size: 19px;
    font-weight: 700;
    line-height: 18px;

    &::before {
      content: "";
      width: 51px;
      height: 51px;
      left: 40px;
      border: 2px solid #444444;
      position: absolute;
    }

    &::after {
      content: "";
      width: 18px;
      height: 22px;
      left: 57px;
      top: 11px;
      transform: rotate(45deg);
      border: 2px solid #444444;
      border-top: transparent;
      border-left: transparent;
    }
  }
}

@media (min-width: @desktop-width) {
  .checkbox-block {
    width: 262px;
    padding-left: 50px;
    margin-bottom: 42px;
  }

  .checkbox-block__text {
    margin-left: 66px;

    &::before {
      content: "";
      width: 51px;
      height: 51px;
      left: 49px;
      border: 2px solid #444444;
      position: absolute;
    }

    &::after {
      content: "";
      width: 20px;
      height: 25px;
      bottom: 49px;
      left: 65px;
      transform: rotate(45deg);
      border: 2px solid #444444;
      border-top: transparent;
      border-left: transparent;
    }
  }
}
