.checkbox-block {
  display: block;
}

.checkbox-block__text {
  .text-in-form();
}

@media (min-width: @tablet-width) {
  .checkbox-block__text {
    font-size: 19px;
    font-weight: 700;
    line-height: 18px;
  }
}
