.contacts__title {
  color: @black;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.contacts__info {
  color: @gray;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.contacts__write {
  .button-properties();
  display: block;
}
