.contacts-info {
  width: 100%;
}

.contacts-info__title {
  margin: 0;
  color: @blue;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.contacts-info__wrapper {
  width: 260px;
}

.contacts-info__text-wrapper {
  margin-bottom: 32px;
}

@media (min-width: @tablet-width) {
  .contacts-info {
    background-color: #f1f1f1;
  }

  .contacts-info__wrapper {
    width: 665px;
    display: flex;
    flex-direction: column;
    padding-top: 51px;
    padding-bottom: 25px;
    margin-bottom: 48px;
  }

  .contacts-info__text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
  }
}

@media (min-width: @desktop-width) {
  .contacts-info__wrapper {
    width: 957px;
    display: flex;
    padding-right: 150px;
    padding-top: 52px;
  }
}
