.contacts{
  &__title{
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
  }
  &__info{
    color: #444444;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
  }
}
.contacts__write{
  .button-properties();
  display: block;
}
