.copyright__text {
  padding-right: 25px;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.copyright__img {
  fill: #63d1bb;
}
