.form-preview__descr {
  display: block;
  width: 232px;
  color: @gray;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .form-preview__descr {
    width: 672px;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
  }
}
