.form-main__title {
  color: @blue;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.form-main__notation {
  color: @gray;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

