.map {
  width: 100%;
}

.map__wrapper {
  width: 320px;
  margin: 0 auto;
  position: relative;
  height: 457px;
  background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@1x.jpg");
  background-position: 141px 150px, 0 0;
  background-repeat: no-repeat, no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@2x.jpg");
    background-size: auto, 320px auto;
  }
}

.map__interactive {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: @tablet-width) {
  .map__wrapper {
    width: 768px;
    height: 457px;
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@1x.jpg");
    background-position: 359px 139px, 0 0;
    background-repeat: no-repeat, no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@2x.jpg");
      background-size: auto, 768px auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .map__wrapper {
    width: 100%;
    height: 457px;
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@1x.jpg");
    background-position: 241px 140px, 0 0;
    background-repeat: no-repeat, no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@2x.jpg");
      background-size: auto, 527px auto;
    }
  }

  .map {
    width: 525px;
    order: 1;
    align-self: flex-end;
    margin-top: -504px;
  }
}
