
.form-preview__descr {
  margin: 0;
  padding-top: 22px;
  padding-left: 30px;
}

@media (min-width: @tablet-width) {
  .main-title {
    font-size: 43px;
    font-weight: 700;
    line-height: 50px;
  }

  .catalog-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .main-title {
    font-size: 53px;
    font-weight: 700;
    line-height: 57px;
  }

  .map {
    order: 1;
    align-self: flex-end;
    margin-top: -400px;
  }

  .promo__title {
    font-size: 53px;
    font-weight: 700;
    line-height: 57px;
    margin: 0;
  }
}
