.production{
  &__title{
    display: block;
    width: 126px;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    position: relative;
  }
  &__process-play{
    position: absolute;
  }
  &__preview{
    display: block;
    width: 163px;
    color: #444444;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
  }
  &__order{
    .button-properties();
  }
}
