.promo__title {
  margin: 0;
  padding-top: 70px;
  padding-left: 40px;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
}

.promo__wrapper {
  width: 320px;
  height: 175px;
  background-color: #f1f1f1;
}

@media (min-width: @tablet-width) {
  .promo {
    margin-top: -90px;
    width: 768px;
    min-height: 226px;
  }

  .promo__wrapper {
    width: 768px;
    min-height: 226px;
  }

  .promo__title {
    font-size: 43px;
    font-weight: 700;
    line-height: 50px;
    padding-top: 98px;
    padding-left: 196px;
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper {
    width: 1150px;
    min-height: 255px;
  }

  .promo__title {
    padding-left: 343px;
  }
}
