
.radio-block__text {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  &::before {
    content: "";
    width: 35px;
    height: 35px;
    left: -43px;
    top: -3px;
    position: absolute;
    border: 1px solid #000000;
    border-radius: 50%;
  }

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    left: -32px;
    top: 8px;
    position: absolute;
    background-color: @blue;
    border-radius: 50%;
    visibility: visible;
  }
}

.radio-block__input {
  opacity: 0;
}

.radio-block {
  display: block;
  margin-bottom: 11px;
  position: relative;
}

.radio-block__input:checked + .radio-block__text::after {
  visibility: visible;
}

@media (min-width: @tablet-width) {
  .radio-block {
    padding-bottom: 39px;
  }

  .radio-block__text {
    font-size: 19px;
    font-weight: 700;
    line-height: 18px;

    &::before {
      content: "";
      width: 45px;
      height: 45px;
      left: -62px;
      position: absolute;
      border: 1px solid #000000;
      border-radius: 50%;
    }

    &::after {
      content: "";
      width: 20px;
      height: 20px;
      left: -48px;
      position: absolute;
      background-color: @blue;
      border-radius: 50%;
      visibility: hidden;
    }
  }
}
