body {
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @black;
  line-height: 24px;
  background-color: @white;
}

.container {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

