.social__item {
  display: inline-block;
}

.social-link {
  display: block;
}

.social-link--instagram {
  background-image: url("../img/icon-insta.svg");
  width: 22px;
  height: 21px;
}

.social-link--facebbook {
  background-image: url("../img/icon-fb.svg");
  width: 15px;
  height: 28px;
}

.social-link--twitter {
  background-image: url("../img/icon-twitter.svg");
  width: 23px;
  height: 20px;
}

.social-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  min-width: 149px;
}
