@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "scaffolding.less";
@import "mixins.less";
@black:#000000;
@gray:#444444;
@white:#ffffff;
@blue:#63d1bb;

body {
  color: @black;
  line-height: 24px;
  background-color: @white;
  width: 320px;
}

.visually-hidden {
  display: none;
}
