.text-block__text {
  .text-in-form();
}

.text-block {
  display: block;
}

.text-block__input {
  .text-in-form();
  color: rgba(0, 0, 0, 0.2);
  border: none;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
